* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--color-11);
  margin-bottom: 10rem;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border-color: transparent;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}